:host {
    display: flex;
    flex-direction: column;
    background-color: #efefe5;
    color: #382c2c;
    flex: 1.5;
    padding-left: 10px;
    padding-right: 10px;
}

.profile-picture-box {
    margin: 10px;
    padding-left: 0;
    margin-left: 0;
}

.profile-picture {
    width: 100%;
}

.introduction {
    text-transform: uppercase;
}
.sidebar-items {
    margin-top: 5px;
    margin-bottom: 5px;

}

.sidebar-items-icon {
    display: flex;
}