<div id="summary">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porta accumsan risus, quis facilisis ligula dapibus
        et. Donec in mattis augue. Integer bibendum lorem dui, eu egestas elit rutrum nec. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Phasellus consectetur elementum sapien, ac tincidunt mi accumsan
        ut. Sed faucibus nunc est, elementum eleifend lacus auctor sit amet. Aliquam porttitor diam non efficitur dignissim.
        Integer sed felis laoreet, dictum ante eu, egestas magna. Quisque fringilla tempus volutpat. Nulla facilisi. Integer
        ornare neque justo, ac semper risus feugiat eu. Curabitur non finibus nulla. Suspendisse ornare viverra pretium.
        Sed in lorem elementum quam porta hendrerit. Donec convallis orci ut accumsan consequat.</p>
</div>
<br>
<div id="edu">
    <hr>
    <h2>EDUCATION</h2>
    <hr>
    <div *ngFor="let school of schools;" class="job-container">
        <p class="job-timeframe" *ngIf="school.name">
            {{school.timeframe}}
        </p>
        <p *ngIf="school.name">
            {{school.name}}
            <br> {{school.level}}
        </p>
    </div>
</div>
<br>
<div id="exp">
    <hr>
    <h2>EXPERIENCE</h2>
    <hr>
    <div *ngFor="let job of jobs;" class="job-container">
        <p class="job-timeframe" *ngIf="job.name">
            {{job.timeframe}}
        </p>
        <p *ngIf="job.name">
            {{job.name}}
            <br> {{job.functions}}
        </p>
    </div>
</div>
<br>
<div id="lang">
    <hr>
    <h2>LANGUAGE</h2>
    <hr>
    <div class="language-flex">
        <div *ngFor="let language of languages;" class="language-container">
            <p>{{language.name}}</p>
            <div class="progress-bar">
                <div *ngFor="let number of numbers" class="progress-box" [class.progress-box-active]="number < language.progress"></div>
            </div>
        </div>
    </div>
</div>