:host {
    width: 100%;
    display: flex;
}

.cv-page {
    width: 100%;
}

@media (min-width: 961px ) {
    :host {
        justify-content: center;
    }

    .cv-page {

        width: 60%;
    }   
}