:host {
    display: flex;
    flex-direction: column;
    background-color: #efefe5;
    color: #382c2c;
    flex: 1.5;
    padding-left: 10px;
    padding-right: 10px;
}

.profile-picture-box {
    margin: 10px;
    padding-left: 0;
    margin-left: 0;
}

.profile-picture {
    width: 100%;
}

.introduction {
    display: flex;
    flex-flow: row wrap;
    text-transform: uppercase;
}

.test:hover {
    border: 5px;
    background-color: white;
}

.edit-button {
    border: 5px;
    height: 39px;
    width: 40px;
    background-color: white;
}